body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--phosphor-main);
    font-family: 'VT323', monospace;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
}
